<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Primer Suite">
    <!--
    <suite-files>
        <suite-file path="./suiteB.xml" />
    </suite-files>
    -->
    <test name="Primer Test">
        <classes>
            <class name=""/>
            <class name=""/>
        </classes>
    </test>
    <test name="Segundo Test">
        <classes>
            <class name=""/>
            <class name=""/>
        </classes>
    </test>
</suite>
